/*** BackGrounds ***/

.bg-blanc {
    background-color: $blanc;
    color: $noir-100;
}
.bg-noir-100 {
    background-color: $noir-100;
    color: $blanc;
}

.bg-noir-75 {
    background-color: $noir-75;
    color: $noir-100;
}

.bg-noir-50 {
    background-color: $noir-50;
    color: $noir-100;
}

.bg-noir-25 {
    background-color: $noir-25;
    color: $noir-100;
}

.bg-rouge-100 {
    background-color: $rouge-100;
    color: $blanc;
}

.bg-rouge-75 {
    background-color: $rouge-75;
    color: $noir-100;
}

.bg-rouge-50 {
    background-color: $rouge-50;
    color: $noir-100;
}

.bg-rouge-25 {
    background-color: $rouge-25;
    color: $noir-100;
}

.bg-bleu-100 {
    background-color: $bleu-100;
    color: $blanc;
}

.bg-bleu-75 {
    background-color: $bleu-75;
    color: $noir-100;
}

.bg-bleu-50 {
    background-color: $bleu-50;
    color: $noir-100;
}

.bg-bleu-25 {
    background-color: $bleu-25;
    color: $noir-100;
}

.bg-vert-100 {
    background-color: $vert-100;
    color: $blanc;
}

.bg-vert-75 {
    background-color: $vert-75;
    color: $noir-100;
}

.bg-vert-50 {
    background-color: $vert-50;
    color: $noir-100;
}

.bg-vert-25 {
    background-color: $vert-25;
    color: $noir-100;
}

.bg-violet-100 {
    background-color: $violet-100;
    color: $blanc;
}

.bg-violet-75 {
    background-color: $violet-75;
    color: $noir-100;
}

.bg-violet-50 {
    background-color: $violet-50;
    color: $noir-100;
}

.bg-violet-25 {
    background-color: $violet-25;
    color: $noir-100;
}

