/*** BackGrounds ***/

.bg-blanc {
    background-color: $blanc;
    color: $noir-100;
}
.bg-noir-100 {
    background-color: $noir-100;
    color: $blanc;
}

.bg-noir-75 {
    background-color: $noir-75;
    color: $noir-100;
}

.bg-noir-50 {
    background-color: $noir-50;
    color: $noir-100;
}

.bg-noir-25 {
    background-color: $noir-25;
    color: $noir-100;
}

/* Anciennes couleurs */

.bg-rouge-100 {
    background-color: $rouge-100;
    color: $blanc;
}

.bg-rouge-75 {
    background-color: $rouge-75;
    color: $noir-100;
}

.bg-rouge-50 {
    background-color: $rouge-50;
    color: $noir-100;
}

.bg-rouge-25 {
    background-color: $rouge-25;
    color: $noir-100;
}

.bg-bleu-100 {
    background-color: $bleu-100;
    color: $blanc;
}

.bg-bleu-75 {
    background-color: $bleu-75;
    color: $noir-100;
}

.bg-bleu-50 {
    background-color: $bleu-50;
    color: $noir-100;
}

.bg-bleu-25 {
    background-color: $bleu-25;
    color: $noir-100;
}

.bg-vert-100 {
    background-color: $vert-100;
    color: $blanc;
}

.bg-vert-75 {
    background-color: $vert-75;
    color: $noir-100;
}

.bg-vert-50 {
    background-color: $vert-50;
    color: $noir-100;
}

.bg-vert-25 {
    background-color: $vert-25;
    color: $noir-100;
}

.bg-violet-100 {
    background-color: $violet-100;
    color: $blanc;
}

.bg-violet-75 {
    background-color: $violet-75;
    color: $noir-100;
}

.bg-violet-50 {
    background-color: $violet-50;
    color: $noir-100;
}

.bg-violet-25 {
    background-color: $violet-25;
    color: $noir-100;
}

/* ----- */

/* Turquoise */
.bg-turquoise-base {
    background-color: $turquoise-base;
    color: $noir-100;
}
.bg-turquoise-highlight {
    background-color: $turquoise-highlight;
    color: $noir-100;
}
.bg-turquoise-light {
    background-color: $turquoise-light;
    color: $noir-100;
}
.bg-turquoise-dark {
    background-color: $turquoise-dark;
    color: $blanc;
}
.bg-turquoise-darker {
    background-color: $turquoise-darker;
    color: $blanc;
}

/* Indigo */
.bg-indigo-base {
    background-color: $indigo-base;
    color: $blanc;
}
.bg-indigo-highlight {
    background-color: $indigo-highlight;
    color: $noir-100;
}
.bg-indigo-light {
    background-color: $indigo-light;
    color: $noir-100;
}
.bg-indigo-dark {
    background-color: $indigo-dark;
    color: $blanc;
}
.bg-indigo-darker {
    background-color: $indigo-darker;
    color: $blanc;
}

/* Corail */
.bg-corail-base {
    background-color: $corail-base;
    color: $noir-100;
}
.bg-corail-highlight {
    background-color: $corail-highlight;
    color: $noir-100;
}
.bg-corail-light {
    background-color: $corail-light;
    color: $noir-100;
}
.bg-corail-dark {
    background-color: $corail-dark;
    color: $blanc;
}
.bg-corail-darker {
    background-color: $corail-darker;
    color: $blanc;
}
