/***
    Fonts
***/

/* Inter */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("../assets/fonts/Inter\ Web/Inter-Thin.woff2?v=3.19") format("woff2"),
        url("../assets/fonts/Inter\ Web/Inter-Thin.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 100;
    font-display: swap;
    src: url("../assets/fonts/Inter\ Web/Inter-ThinItalic.woff2?v=3.19") format("woff2"),
         url("../assets/fonts/Inter\ Web/Inter-ThinItalic.woff?v=3.19") format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url("../assets/fonts/Inter\ Web/Inter-ExtraLight.woff2?v=3.19") format("woff2"),
         url("../assets/fonts/Inter\ Web/Inter-ExtraLight.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 200;
    font-display: swap;
    src: url("../assets/fonts/Inter\ Web/Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"),
         url("../assets/fonts/Inter\ Web/Inter-ExtraLightItalic.woff?v=3.19") format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("../assets/fonts/Inter\ Web/Inter-Light.woff2?v=3.19") format("woff2"),
         url("../assets/fonts/Inter\ Web/Inter-Light.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 300;
    font-display: swap;
    src: url("../assets/fonts/Inter\ Web/Inter-LightItalic.woff2?v=3.19") format("woff2"),
         url("../assets/fonts/Inter\ Web/Inter-LightItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../assets/fonts/Inter\ Web/Inter-Regular.woff2?v=3.19") format("woff2"),
         url("../assets/fonts/Inter\ Web/Inter-Regular.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 400;
    font-display: swap;
    src: url("../assets/fonts/Inter\ Web/Inter-Italic.woff2?v=3.19") format("woff2"),
         url("../assets/fonts/Inter\ Web/Inter-Italic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("../assets/fonts/Inter\ Web/Inter-Medium.woff2?v=3.19") format("woff2"),
         url("../assets/fonts/Inter\ Web/Inter-Medium.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 500;
    font-display: swap;
    src: url("../assets/fonts/Inter\ Web/Inter-MediumItalic.woff2?v=3.19") format("woff2"),
         url("../assets/fonts/Inter\ Web/Inter-MediumItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("../assets/fonts/Inter\ Web/Inter-SemiBold.woff2?v=3.19") format("woff2"),
         url("../assets/fonts/Inter\ Web/Inter-SemiBold.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 600;
    font-display: swap;
    src: url("../assets/fonts/Inter\ Web/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
         url("../assets/fonts/Inter\ Web/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("../assets/fonts/Inter\ Web/Inter-Bold.woff2?v=3.19") format("woff2"),
         url("../assets/fonts/Inter\ Web/Inter-Bold.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 700;
    font-display: swap;
    src: url("../assets/fonts/Inter\ Web/Inter-BoldItalic.woff2?v=3.19") format("woff2"),
         url("../assets/fonts/Inter\ Web/Inter-BoldItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("../assets/fonts/Inter\ Web/Inter-ExtraBold.woff2?v=3.19") format("woff2"),
         url("../assets/fonts/Inter\ Web/Inter-ExtraBold.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 800;
    font-display: swap;
    src: url("../assets/fonts/Inter\ Web/Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"),
         url("../assets/fonts/Inter\ Web/Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("../assets/fonts/Inter\ Web/Inter-Black.woff2?v=3.19") format("woff2"),
         url("../assets/fonts/Inter\ Web/Inter-Black.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 900;
    font-display: swap;
    src: url("../assets/fonts/Inter\ Web/Inter-BlackItalic.woff2?v=3.19") format("woff2"),
         url("../assets/fonts/Inter\ Web/Inter-BlackItalic.woff?v=3.19") format("woff");
  }