/* Variables */

$breakpoints: (xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px);

$fontSize: 18;
$inter-capHeight: 1.05;
$american-capHeight: .95;
$lineHeight: 24;
$inter-lineHeightComputed: ($lineHeight * $inter-capHeight);
$american-lineHeightComputed: ($lineHeight * $american-capHeight);

$typoMod: (titre-1: 4,
    titre-2: 3,
    titre-3: 2,
    titre-4: 1.75,
    texte-1: .9,
    texte-2: 1,
    wideScreen: 1.15,
);

$typoResponsiveTitre: (xs: .65,
    sm: .75,
    md: 1,
    lg: 1.15,
);
$typoResponsiveCourant: (xs: 1,
    sm: 1.15,
    md: 1.25,
    lg: 1.3,
);

/* Colors */

$blanc: white;
$noir-100: black;
$noir-75: #9C9C9C;
$noir-50: #D0D0D0;
$noir-25: #EDEDED;
$rouge-100: #9A2525;
$rouge-75: #F56969;
$rouge-50: #F89898;
$rouge-25: #FCCCCC;
$bleu-100: #385F5F;
$bleu-75: #6BF4F4;
$bleu-50: #A3F8F8;
$bleu-25: #E7FDFD;
$vert-100: #196433;
$vert-75: #B0F46B;
$vert-50: #CDF8A2;
$vert-25: #F2FDE7;
$violet-100: #670EBF;
$violet-75: #CDA2F8;
$violet-50: #EAD8FC;
$violet-25: #F5ECFE;