/* Variables */

$breakpoints: (xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px);

$fontSize: 17;
$inter-capHeight: 1.05;
$american-capHeight: .85;
$lineHeight: 24;
$inter-lineHeightComputed: ($lineHeight * $inter-capHeight);
$american-lineHeightComputed: ($lineHeight * $american-capHeight);

$typoMod: (titre-1: 4,
    titre-2: 3,
    titre-3: 2,
    titre-4: 1.25,
    texte-1: .95,
    texte-2: 1,
    wideScreen: 1.15,
);