@import './normalize';
@import './variables';
@import './backgrounds';
@import './os-fourmi-e';
@import './fonts';
@import './grid_system';

html {
    display: block;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.35em;
    font-size: $fontSize * map-get($typoMod, texte-1) * 1px;
    line-height: $inter-lineHeightComputed * map-get($typoMod, texte-1) * 1px;
    font-weight: 400;
}

/* Basics */

h1,
h2,
h3,
h4 {
    font-family: 'American Typewriter', serif;
    font-weight: normal;
    margin: 0 0 .5rem 0;
    border-bottom: 2px solid currentColor;
}

h1 {
    // font-size: 2rem;
    // line-height: 4.125rem;
    // font-size: $fontSize * map-get($typoMod, titre-2) * 1px;
    // line-height: $american-lineHeightComputed * map-get($typoMod, titre-2) * 1px;
    font-size: $fontSize * map-get($typoMod, titre-2) * map-get($typoResponsiveTitre, xs) * 1px;
    line-height: $american-lineHeightComputed * map-get($typoMod, titre-2) * map-get($typoResponsiveTitre, xs) * 1px;

    @media (min-width: map-get($breakpoints, sm)) {
        font-size: $fontSize * map-get($typoMod, titre-2) * map-get($typoResponsiveTitre, sm) * 1px;
        line-height: $american-lineHeightComputed * map-get($typoMod, titre-2) * map-get($typoResponsiveTitre, sm) * 1px;
    }

    @media (min-width: map-get($breakpoints, md)) {
        font-size: $fontSize * map-get($typoMod, titre-2) * map-get($typoResponsiveTitre, md) * 1px;
        line-height: $american-lineHeightComputed * map-get($typoMod, titre-2) * map-get($typoResponsiveTitre, md) * 1px;
    }

    @media (min-width: map-get($breakpoints, lg)) {
        font-size: $fontSize * map-get($typoMod, titre-2) * map-get($typoResponsiveTitre, lg) * 1px;
        line-height: $american-lineHeightComputed * map-get($typoMod, titre-2) * map-get($typoResponsiveTitre, lg) * 1px;
    }
}

h2 {
    font-size: $fontSize * map-get($typoMod, titre-3) * map-get($typoResponsiveTitre, xs) * 1px;
    line-height: $american-lineHeightComputed * map-get($typoMod, titre-3) * map-get($typoResponsiveTitre, xs) * 1px;

    @media (min-width: map-get($breakpoints, sm)) {
        font-size: $fontSize * map-get($typoMod, titre-3) * map-get($typoResponsiveTitre, sm) * 1px;
        line-height: $american-lineHeightComputed * map-get($typoMod, titre-3) * map-get($typoResponsiveTitre, sm) * 1px;
    }

    @media (min-width: map-get($breakpoints, md)) {
        font-size: $fontSize * map-get($typoMod, titre-3) * map-get($typoResponsiveTitre, md) * 1px;
        line-height: $american-lineHeightComputed * map-get($typoMod, titre-3) * map-get($typoResponsiveTitre, md) * 1px;
    }

    @media (min-width: map-get($breakpoints, lg)) {
        font-size: $fontSize * map-get($typoMod, titre-3) * map-get($typoResponsiveTitre, lg) * 1px;
        line-height: $american-lineHeightComputed * map-get($typoMod, titre-3) * map-get($typoResponsiveTitre, lg) * 1px;
    }
}

p {
    margin: 0 0 1.5rem;
    font-weight: 400;

    font-size: $fontSize * map-get($typoMod, texte-1) * map-get($typoResponsiveCourant, xs) * 1px;
    line-height: $american-lineHeightComputed * map-get($typoMod, texte-1) * map-get($typoResponsiveCourant, xs) * 1px;

    @media (min-width: map-get($breakpoints, sm)) {
        font-size: $fontSize * map-get($typoMod, texte-1) * map-get($typoResponsiveCourant, sm) * 1px;
        line-height: $american-lineHeightComputed * map-get($typoMod, texte-1) * map-get($typoResponsiveCourant, sm) * 1px;
    }

    @media (min-width: map-get($breakpoints, md)) {
        font-size: $fontSize * map-get($typoMod, texte-1) * map-get($typoResponsiveCourant, md) * 1px;
        line-height: $american-lineHeightComputed * map-get($typoMod, texte-1) * map-get($typoResponsiveCourant, md) * 1px;
    }

    @media (min-width: map-get($breakpoints, lg)) {
        font-size: $fontSize * map-get($typoMod, texte-1) * map-get($typoResponsiveCourant, lg) * 1px;
        line-height: $american-lineHeightComputed * map-get($typoMod, texte-1) * map-get($typoResponsiveCourant, lg) * 1px;
    }
}

figcaption {
    p {

        font-weight: 300;
    }
}


/**********/

#main-content {
    display: block;
    // height: 100vh;
    // margin: 0;
    margin: 0 10px 0 0;
    padding: 0;
}

.segment {
    width: calc(100% - #{$grandGauche});
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 0;
    padding-left: $grandGauche;
    align-items: end;

    .conteneur {
        position: relative;
        box-sizing: border-box;
        padding: 20px 40px 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-self: flex-start;
        // width: 100%;
        min-width: calc(100% - 60px);
        height: calc(100% - 40px);

        &::after {
            content: '';
            display: block;
            background-color: rgba(255, 255, 255, 0.33);
            height: 100%;
            width: auto;
            margin: 0 -40px -20px -20px;
        }
    }
}

@import './single';
@import './_header';
@import './_footer';

#archive {
    .archive-section {
        // position: relative;
        min-height: 400px;

        .archive-table {
            // grid-column: span 12;
            border-spacing: 0;
            border-collapse: collapse;
            min-height: 100%;

            tr {
                font-size: 30px;
                line-height: 1.2em;

                &:hover {
                    background-color: $rouge-25;
                }

                td {
                    padding: 10px;
                    border-bottom: 1px solid black;

                    a {
                        text-decoration: none;
                        display: block;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }

        .archive-img {
            // grid-column: 14/22;
            position: relative;
            height: 100%;

            &-wrap {
                position: absolute;
                display: none;
                // visibility: hidden;
                // opacity: 0;
                z-index: 10;
                top: 0;
                transition: top .15s cubic-bezier(0.22, 0.61, 0.36, 1);

                &.visible {
                    display: block;
                    visibility: visible;
                }

                .wp-post-image {
                    display: block;
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 400px;
                }
            }
        }
    }
}